header{
  background-color: red;
}
header a{
  text-decoration: underline;
  color:white;
  transition-duration: 1s;
  display: inline-block;
  margin: 10px;
}

header a:hover{
  color: greenyellow;
  transition-duration: 1s;
}

header h1{
  display:inline-block;
  padding: 0;
  margin: 0;
}

/*スライドショー*/
.container {
  margin: 10px 0 0 0;
  padding: 20px 30px 5px 30px;
  color: #333;
  background: brown;
}
.container iframe{
  width: 560px;
  height: 315px;
}

.single-item{
  background-image: url("../meta/sample.jpg");
  height: 400px;
}

.sub_title{
  color: white;
  background: brown;
  padding: 0;
  margin: 0 0 10px 0;
  display: inline-block;
  text-align: center;
}

.slick-slide {
  margin: 10px;
  padding: 0;
  text-align: center;
}

/*紹介部分*/
.description section{
  text-align: center;
  margin-top: 10px;
}

.booth{
  background-color: #F07300;
  color: white;
}

.youtube{
  background-color: red;
  color: white;
}

.discord{
  background-color: #39397D;
  color: white;
}
.discord a{
  color: greenyellow;
}
.discord a:visited{
  color: green;
}

/*リンク集*/
.ac-cap{
  display: inline;
  padding: 0;
  margin: 0;
}
.ac-cap label{
  overflow: hidden;
  transition: 1s;
  padding: 0;
  margin: 0;
}
.ac-cap label:hover{
  cursor: pointer;
}
.ac-cap input,
.sheen_hp input{
  display: none;
}
.ac-cap .content{
  height: 0;
  width: 100%;
  overflow-y: auto;
  transition: 1s;
  max-height: 120px;
}
.ac-cap input:checked + .ac-title + .content{
  height: 120px;
  transition: 1s;
}