@media screen and (min-width: 700px){
  .ac-cap1-1, .ac-title{
    display: none;
  }
  .ac-cap .content{
    transition: none;
    height: auto;
  }
}

@media screen and (max-width: 700px) {
  .container iframe{
    width: 350px;
    height: 195px;
  }
  .single-item{
    height: 300px;
  }
  .sub_title{
    font-size: 8px;
  }
  .description section{
    text-align: start;
  }
  header a{
    display: block;
  }
  .content{
    background-color: #fd7e00;
  }
}

@media screen and (max-width: 430px) {
  .container iframe{
    width: 300px;
    height: 170px;
  }
  .single-item{
    height: 275px;
  }
  .sub_title{
    font-size: 3px;
  }
  .description section{
    text-align: start;
  }
}

@media screen and (max-width: 380px) {
  .container iframe{
    width: 260px;
    height: 150px;
  }
  .single-item{
    height: 250px;
  }
  .sub_title{
    font-size: 1px;
  }
  .description section{
    text-align: start;
  }
}